.container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.submitButton{
    flex-shrink: 0;
    border-radius: 8px;
    height: 46px;
    background-color: #633CFF;
    color:  #FFF;
    font-size: 1rem;
    font-family: var(--font);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
}

.submitButton:hover{
    background-color: #BEADFF;
    box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
}

.errorMessage{
    display: none;
    color: #FF3939;
    font-size: 1.02rem;
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}